@import "tailwindcss";

@font-face {
  font-family: 'Gistesy';
  /* This is the only path that will work for your project structure */
  src: url('./assets/fonts/Gistesy.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.gistesy-font {
  font-family: 'Gistesy', cursive;
}